@(competitionId: Integer);

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Example - example-example33-production</title>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-cookies.js"></script>


</head>
<body ng-app="codeRumble">

<div ng-controller="competitions">
    <form novalidate class="css-form">

        Started: {{ started }}
        Finished: {{ finished }}
          Timer: <span ng-class="{ timer: isRed }"> {{ timer }} </span>
        <input type="hidden" ng-init="question.competitionId = @competitionId" value="@competitionId" name="competitionId" />
        Question: {{ content }}
        Code: <textarea ng-model="question.code" required /></textarea><br />
        <input type="submit" ng-click="update(question)" value="Save" />
    </form>
    <pre>callback = {{master}}</pre>
    <h3>Leaderboard:</h3>
    <ul>
        <li ng-repeat="player in players | orderBy: '-points'" ng-class="{currentUser: player.isMe}">{{ player.name }} {{ player.points }}</li>
    </ul>
</div>


<style type="text/css">
    .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
    }

    .currentUser {
        font-weight: bold;
    }

    .timer
    {
        color: red;
    }
</style>

<script>
  angular.module('codeRumble', ['ngCookies'])
    .controller('competitions', ['$cookies', '$scope', '$http', '$interval', function($cookies, $scope, $http, $interval) {
      $scope.master = '';
       var intr = null;
       $scope.started = false;
       $scope.finished = false;
       var gotCurrentQuestion = false;

      $scope.getLeaderboard = function() {
             $http.get('/competitions/' + document.getElementsByName('competitionId')[0].value + '/getLeaderboard').
            then(function(response) {
                $scope.players = response.data;
            }, function(response) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
            });
      };

      $interval($scope.getLeaderboard, 200);

      $scope.checkState = function() {
            $http.get('/competitions/' + document.getElementsByName('competitionId')[0].value + '/checkstate').
            then(function(response) {
               if ((response.data.started && !response.data.finished && !gotCurrentQuestion) ||
                    $cookies.get("currentQuestion") != response.data.currQuestion)
               {
                          $http.get('/getCurrentQuestion?compId=' + document.getElementsByName('competitionId')[0].value).
                            then(function(questionResponse) {
                               var delay = $interval(
                               function() {
                                    var time = ((questionResponse.data.endtime - new Date().getTime())/ 1000) >> 0;
                                    if(time <= questionResponse.data.time)
                                    {
                                    $interval.cancel(delay);
                                    $cookies.put("currentQuestion", response.data.currQuestion);
                                   $scope.calctimer = time;
                                   $scope.content = questionResponse.data.questionContent;
                                         if (intr != null)
                                         {
                                            $interval.cancel(intr);
                                            $scope.isRed = false;
                                         }
                                         intr = $interval(function() {
                                            $scope.calctimer--;
                                            if ($scope.calctimer < 10 && !$scope.isRed)
                                            {
                                                $scope.isRed = true;
                                            }
                                                var minutes = (($scope.calctimer / 60) >> 0);
                                                var seconds = $scope.calctimer % 60;
                                                if (minutes < 10) {minutes = "0"+minutes;}
                                                if (seconds < 10) {seconds = "0"+seconds;}

                                            $scope.timer = minutes + ":" + seconds;
                                          }, 1000, questionResponse.data.time);
                                          gotCurrentQuestion = true;


                                    }
                                }
                               ,100);

                            }, function(questionResponse) {
                              // called asynchronously if an error occurs
                              // or server returns response with an error status.
                            });
               }
               else if (response.data.finishCompetition)
               {
                    window.location = "/competitions/" + document.getElementsByName('competitionId')[0].value + "/finish";
               }
               else if (response.data.finished)
               {
                    gotCurrentQuestion = false;
               }

               $scope.finished = response.data.finished;


              // this callback will be called asynchronously
              // when the response is available
            }, function(response) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
            });

      };

      $scope.checkStart = function() {
           $http.get('/competitions/' + document.getElementsByName('competitionId')[0].value + '/checkstate').
            then(function(response) {
               if (response.data.started)
               {
                          $interval.cancel(checkStart);
                          $scope.started = true;

                          $interval($scope.checkState, 200);
               }


              // this callback will be called asynchronously
              // when the response is available
            }, function(response) {
              // called asynchronously if an error occurs
              // or server returns response with an error status.
            });
        };

      var checkStart = $interval($scope.checkStart, 200);

      $scope.update = function(question) {
      // Simple POST request example (passing data) :
      $http.post('/check', {competitionId: question.competitionId, code: question.code}).
        then(function(response) {
        if (!response.data.compiled) {
          $scope.master = response.data.compileError;
        }
        else if (response.data.success) {
            $scope.master = "Success - " + response.data.answer;
        }
        else {
            $scope.master = "compiled but invalid answer - " + response.data.answer;
        }
          // this callback will be called asynchronously
          // when the response is available
        }, function(response) {
            alert("error");
          // called asynchronously if an error occurs
          // or server returns response with an error status.
        });
      };

    }]);


</script>
</body>
</html>